@import url("https://fonts.googleapis.com/css2?family=Borel&family=Comfortaa:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  font-family: "Comfortaa", sans-serif;
  color: #283618;
  background-color: #fefae0;
}

.app {
  width: 70%;
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow: hidden;
}

h1 {
  font-family: "Borel";
  text-align: center;
  background-color: #283618;
  color: white;
  font-size: 4rem;
  padding: 3rem 0 1rem;
}

.add-form {
  background-color: #dda15e;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.add-form h3 {
  margin-right: 1rem;
  font-size: 2.5rem;
}

.add-form div {
  margin: 0.5rem 0;
}

.add-form div select {
  margin-right: 0.5rem;
}

button,
select,
input {
  background-color: #fefae0;
  font-family: inherit;
  border: none;
  border-radius: 3rem;
  padding: 1.2rem 3.2rem;
  font-size: 2rem;
  cursor: pointer;
}

button {
  background-color: #283618;
  color: #fefae0;
  font-weight: bold;
}

button:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

.list {
  background-image: url(img/paper-bg.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  background-attachment: local;
  color: #fefae0;
  padding: 2.3rem 0 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2.2rem;
  align-items: center;
  overflow-y: scroll;
}

.list ul {
  list-style: none;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1rem;
}

.list li {
  color: #283618;
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  /* gap: 2rem; */
  margin-bottom: 3rem;
}

.list input[type="checkbox"] {
  height: 3rem;
  width: 3rem;
  accent-color: #283618;
  margin-right: 1.3rem;
}

.list li button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 2.6rem;
  padding: 0;
  width: 3rem;
  height: 3rem;
  background-color: red;
  margin-left: 1rem;
}

.list li:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  transition: 0.2s;
}

.actions {
  background-color: #606c38;
  width: 100%;
  padding: 2rem 0;
  text-align: center;
}

.actions button,
.actions select {
  padding: 0.8rem 2.4rem;
  font-size: 1.4rem;
  margin: 0 0.8rem;
}

.stats {
  background-color: #bc6c25;
  color: white;
  text-align: center;
  padding: 3.2rem 0;
  font-size: 2rem;
  font-weight: bold;
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 40%;
  }
}
